<?xml version="1.0"?>

<model>
  <name>decorations</name>
  <version>1.0</version>

  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Osayande</name>
    <email>osayande@example.com</email>
  </author>

  <description>
    Underwater seabed decorations containing seaweed and rocks.
  </description>
</model>