Panels:
- Class: rviz_common/Displays
  Help Height: 85
  Name: Displays
  Property Tree Widget:
    Expanded:
    - /Global Options1
    - /Status1
  Splitter Ratio: 0.5
  Tree Height: 969

- Class: rviz_common/Selection
  Name: Selection

- Class: rviz_common/Tool Properties
  Expanded:
  - /2D Goal Pose1
  - /Publish Point1
  Name: Tool Properties
  Splitter Ratio: 0.5886790156364441

- Class: rviz_common/Views
  Expanded:
  - /Current View1
  Name: Views
  Splitter Ratio: 0.5

- Class: rviz_common/Time
  Experimental: false
  Name: Time
  SyncMode: 0
  SyncSource: PointCloud2

Visualization Manager:
  Class: ""

  Displays:

  # Common displays — only one of these is needed.
  - Class: rviz_default_plugins/Grid
    Alpha: 0.5
    Cell Size: 1
    Color: 160; 160; 164
    Enabled: true
    Line Style:
      Line Width: 0.03
      Value: Lines
    Name: Grid
    Normal Cell Count: 0
    Offset:
      X: 0
      Y: 0
      Z: 0
    Plane: XY
    Plane Cell Count: 10
    Reference Frame: map
    Value: true

  - Class: rviz_default_plugins/Axes
    Enabled: true
    Length: 1
    Name: Axes
    Radius: 0.1
    Reference Frame: map
    Value: true

  # ============================================================
  # ROBOT-SPECIFIC DISPLAYS
  # ============================================================

{% for robot in robots_list %}

  - Class: rviz_default_plugins/Pose
    Alpha: 1
    Axes Length: 1
    Axes Radius: 0.1
    Color: 255; 255; 255
    Enabled: true
    Head Length: 0.3
    Head Radius: 0.1
    Name: {{ robot.namespace }} Camera Pose
    Shaft Length: 1
    Shaft Radius: 0.05
    Shape: Axes
    Topic:
      Depth: 5
      Durability Policy: Volatile
      Filter size: 10
      History Policy: Keep Last
      Reliability Policy: Reliable
      Value: /{{ robot.namespace }}/camera_pose/scaled
    Value: true

  - Class: rviz_default_plugins/PointCloud2
    Alpha: 1
    Autocompute Intensity Bounds: true
    Autocompute Value Bounds:
      Max Value: -1.924
      Min Value: -53.544
      Value: true
    Axis: Z
    Channel Name: intensity
    Color: 255; 255; 255
    Color Transformer: FlatColor
    Decay Time: 0
    Enabled: true
    Name: {{ robot.namespace }} PointCloud
    Position Transformer: XYZ
    Selectable: true
    Size (Pixels): 3
    Size (m): 0.01
    Style: Flat Squares
    Topic:
      Depth: 5
      Durability Policy: Volatile
      History Policy: Keep Last
      Reliability Policy: Reliable
      Value: /{{ robot.namespace }}/map_points/scaled
    Use Fixed Frame: true
    Value: true

  - Class: rviz_default_plugins/Odometry
    Angle Tolerance: 0.1
    Enabled: true
    Keep: 1
    Name: {{ robot.namespace }} Odometry
    Position Tolerance: 0.1
    Shape:
      Alpha: 1
      Axes Length: 1
      Axes Radius: 0.1
      Color: 255; 25; 0
      Head Length: 0.3
      Head Radius: 0.1
      Shaft Length: 1
      Shaft Radius: 0.05
      Value: Axes
    Topic:
      Depth: 5
      Durability Policy: Volatile
      Filter size: 10
      History Policy: Keep Last
      Reliability: Reliable
      Value: /{{ robot.namespace }}/model/orca5/odometry
    Value: true

  - Class: rviz_default_plugins/Image
    Enabled: true
    Max Value: 1
    Median window: 5
    Min Value: 0
    Name: {{ robot.namespace }} Camera
    Normalize Range: true
    Topic:
      Depth: 5
      Durability Policy: Volatile
      History Policy: Keep Last
      Reliability: Reliable
      Value: /{{ robot.namespace }}/annotated_image
    Value: true

{% endfor %}

  # ============================================================
  # TF
  # ============================================================

  - Class: rviz_default_plugins/TF
    Enabled: true
    Filter (blacklist): ""
    Filter (whitelist): ""
    Frame Timeout: 15
    Frames:
      All Enabled: true
    Marker Scale: 3
    Name: TF
    Show Arrows: true
    Show Axes: true
    Show Names: true
    Update Interval: 0
    Value: true

  # ============================================================
  # GLOBAL OPTIONS
  # ============================================================

  Global Options:
    Background Color: 48; 48; 48
    Fixed Frame: map
    Frame Rate: 30
    Name: root

  Tools:
  - Class: rviz_default_plugins/Interact
    Hide Inactive Objects: true

  - Class: rviz_default_plugins/MoveCamera

  - Class: rviz_default_plugins/Select

  - Class: rviz_default_plugins/FocusCamera

  - Class: rviz_default_plugins/Measure
    Line color: 128; 128; 0

{% for robot in robots_list %}

  - Class: rviz_default_plugins/SetInitialPose
    Covariance x: 0.25
    Covariance y: 0.25
    Covariance yaw: 0.0685389
    Topic:
      Depth: 5
      Durability Policy: Volatile
      History Policy: Keep Last
      Reliability Policy: Reliable
      Value: /{{ robot.namespace }}/initialpose

  - Class: rviz_default_plugins/SetGoal
    Topic:
      Depth: 5
      Durability Policy: Volatile
      History Policy: Keep Last
      Reliability Policy: Reliable
      Value: /{{ robot.namespace }}/goal_pose

  - Class: rviz_default_plugins/PublishPoint
    Single click: true
    Topic:
      Depth: 5
      Durability Policy: Volatile
      History Policy: Keep Last
      Reliability Policy: Reliable
      Value: /{{ robot.namespace }}/clicked_point

{% endfor %}

  Transformation:
    Current:
      Class: rviz_default_plugins/TF
      Value: true

  Views:
    Current:
      Class: rviz_default_plugins/Orbit
      Distance: 26.27
      Enable Stereo Rendering: false
      Stereo Eye Separation: 0.06
      Stereo Focal Distance: 1
      Swap Stereo Eyes: false
      Focal Point:
        X: 1.73
        Y: 1.43
        Z: -3.52
      Focal Shape Fixed Size: true
      Focal Shape Size: 0.05
      Invert Z Axis: false
      Name: Current View
      Near Clip Distance: 0.01
      Pitch: 0.425
      Target Frame: map
      Value: Orbit (rviz_default_plugins)
      Yaw: 3.889

Window Geometry:
  Displays:
    collapsed: false
    Height: 2030
    Hide Left Dock: false
    Hide Right Dock: false
  Image:
    collapsed: false
  Selection:
    collapsed: false
  Time:
    collapsed: false
  Tool Properties:
    collapsed: false
  Views:
    collapsed: false
  Width: 1790
  X: 2050
  Y: 46