<?xml version="1.0"?>

<model>
  <name>{{robot.name}}</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>kingade</name>
    <email>kogodemilade@gmail.com</email>
  </author>

  <maintainer email="kogodemilade@gmail.com">kingade</maintainer>

  <description>
    Altered Blue Robotics BlueROV2 model. Original from Clyde McQueen.
  </description>
</model>
